/* Classe para ocultar a barra de rolagem mas manter a funcionalidade */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE e Edge */
  overflow-x: auto;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari e Opera */
} 